@use '../../../../styles/functions.module.scss' as function;
@use '../../../../styles/mixins/core.module.scss' as mixin;

$primary: true;

.c-button {
  border-radius: function.rem(15px);
  padding: function.rem(24px) function.rem(33px);
  width: 100%;

  @include mixin.btn;
  @include mixin.font-size-line-height(function.rem(18px), function.rem(26px));

  @include mixin.from-breakpoint(sm) {
    width: max-content;
  }

  @include mixin.from-breakpoint(md) {
    border-radius: function.rem(20px);
    padding: function.rem(26px) function.rem(39px);
  }

  &:hover {
    transform: scale3d(0.94, 0.94, 1.01);
  }

  &--primary {
    background-color: function.color('neutral-800');
    color: function.color('neutral-100');
    font-weight: function.font-weight('bold');

    &:hover {
      background-color: function.color('color-1');
    }
  }

  &--secondary {
    background-color: function.color('neutral-100');
    border: function.rem(1px) solid function.color('neutral-300');
    box-shadow: function.rem(0) function.rem(4px) function.rem(10px) rgba(function.color('neutral-300'), 0.4);
    color: function.color('neutral-800');
    font-weight: function.font-weight('regular');

    &:hover {
      background-color: function.color('neutral-800');
      border-color: function.color('neutral-800');
      color: function.color('neutral-100');
    }
  }

  &--small {
    border-radius: function.rem(10px);
    padding: function.rem(15px) function.rem(24px);

    @include mixin.font-size-line-height(function.rem(15px),
      function.rem(24px));

    @include mixin.from-breakpoint(md) {
      border-radius: function.rem(15px);

      @include mixin.padding-x(function.rem(18px));
    }
  }

  &--large {
    padding: function.rem(22px) function.rem(41px);

    @include mixin.font-size-line-height(function.rem(20px),
      function.rem(28px));

    @include mixin.from-breakpoint(md) {
      @include mixin.padding-x(function.rem(50px));
    }

    @include mixin.from-breakpoint(lg) {
      padding: function.rem(27px) function.rem(57px);
    }
  }

  @if $primary {
    @extend .c-button--primary;
  }

  @else {
    @extend .c-button--secondary;
  }
}