/*
  READ FIRST!!!
  1. Some variables is available on the project that will not be listed here.
  2. To know what is these variables you can go to frontend.config.scss file.
  3. Keep in mind that this file SHOULD be modified as necessary to the project that you're working on.
  4. You can also create your own variables for the project.
  5. Don't be afraid to try something new. :)
*/

/* ------------------------------------------------------------ *\
  Breakpoints
  Breakpoint variables for responsive design
\* ------------------------------------------------------------ */
$breakpoints: (
  xs: 0px,
  sm: 420px,
  md: 768px,
  lg: 1280px,
  xl: 1600px,
);

/* ------------------------------------------------------------ *\
  Font size
  Base font size
\* ------------------------------------------------------------ */
$font-size-base-px: 16px;

/* ------------------------------------------------------------ *\
  Colors
  RGB, RGBA, HEXADECIMAL...
\* ------------------------------------------------------------ */
$colors: (
  "primary": #5b46ff,
  "color-1": #503de8,
  "color-2": #aee2ff,
  "color-3": #98d9ff,
  "color-4": #ffafc2,
  "color-5": #ffcbd8,
  "color-6": #ffc329,
  "color-7": #fdb52a,
  "neutral-100": #ffffff,
  "neutral-200": #f7f7fc,
  "neutral-300": #e2e2ed,
  "neutral-400": #c8c8d6,
  "neutral-500": #7d7d8e,
  "neutral-600": #535366,
  "neutral-700": #29293e,
  "neutral-800": #0a0a1b,
);

/* ------------------------------------------------------------ *\
  Typography
  Font families, font sizes, line heights...
\* ------------------------------------------------------------ */
$font-family-base: "Inter";

// List font weights in project
$font-weights: (
  "thin": 100,
  "extra-light": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800,
  "black": 900,
);
